__pycache__/
data/
legacy/
test.model/
.ipynb_checkpoints/
.empty/
dataset/generated/*
dataset/clean/guitarset_5s
dataset/clean/IDMT-SMT-GUITAR_5s
lightning_logs/
evaluation/
*.swp
.vscode/settings.json
notebooks/